html, body {
    overflow-x: hidden;
    height: 96%;
}
.header {
    top: 0px;
    left: 0px;
    display: block;
    margin: auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #00c3cc;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
.spinner diagonal part-1{
  position: fixed;
}

.sidebarMenuInner{
  position: fixed;
}

#openSidebarMenu{
  position: fixed;
}

#sidebarMenu {
    top: 0;
    right: 10;
    left: 0;
    height: 100%;
    position: fixed;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: mediumturquoise;
}
.sidebarMenuInner{
    top: 0;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.ListLink{
  font-size: 10px;
}

.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    position: fixed;
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}


body{
  padding: 18px;
  background-color: paleturquoise;
  font-family: "Calibri";
}

h3{
  font-weight: bold;
  font-size: 20.6px;
}

p{
  font-weight: 900;
  font-size: 18px;
}

li{
  font-weight: bold;
  font-size: 20.5px;
}

.Categories{
  width: 200px;
  border: 10px solid #00c3cc;
  border-radius: 14px;
}

.StopMotionDownload{
  border: 8px solid #00c3cc;
  border-radius: 14px;
  width: 280px;
}

.StopMotionDownload a{
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

#Phrase{
  color: ;
  font-style: italic;
  font-weight: bold;
  font-size: 22px;
}


#HubLogo{
  top: px;
  width: 500px;
  height: auto;
}

.pic{
  display: flex;
  justify-content: center;
}

#Homepage{
  
}

#WelcomeHeader{
  text-align: center;
}

#WelcomeSubHeader{
  color: #008384;
  text-align: center;
}

#HomePic{
  border: 8px solid #00c3cc;
  border-radius: 14px;
  width: 600px;
  height: auto;
}